* {
  font-family: "Roboto", sans-serif;
  --primary-color: #1e3d58;
  --secondary-color: #e8eef1;
  --third-color: #536470;
  --forth-color: #cae6ff;
}

body {
  box-sizing: border-box;
  margin: 0;
  display: grid;
  background-color: var(--secondary-color);
  height: 100vh;
  grid-template: auto 1fr auto / 300px 1fr auto;
}

header {
  background-color: var(--primary-color);
  grid-column: 1/4;
  text-align: center;
  text-transform: capitalize;
  border-radius: 10px;
  margin: 10px;
  color: white;
}

aside {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside.left-sidebar {
  color: white;
  grid-column: 1/2;
  background-color: var(--third-color);
  margin-left: 10px;
}

aside.right-sidebar {
  grid-column: 3/4;
  color: var(--primary-color);
  font-size: 1rem;
  background-color: var(--forth-color);
  margin-right: 10pxs;
}

main {
  margin: 0 20px;
  grid-column: 2/3;
}

main h2 {
  text-align: right;
}

footer {
  color: white;
  grid-column: 1/4;
  text-align: center;
  background-color: #536470;
  margin-top: 10px;
  padding-top: 20px;
}
