@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --dark-purple: #1e1e2f;
  --dark-blue: #205781;
  --light-blue: #4f959d;
  --light-green: #98d2c0;
  --yellow: #f6f8d5;
}

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: grid;
  grid-template: auto 1fr auto / 1fr;
  min-height: 100vh;
}

header {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: var(--dark-blue);
  color: white;
}

header h1 {
  font-size: 2rem;
  text-align: center;
  padding: 25px;
}

header nav {
  display: flex;
}

header nav a {
  background-color: #000;
  border: 1px solid #000;
  text-align: center;
  flex: 1;
  padding: 15px;
}

header nav a:hover {
  background-color: var(--light-green);
  border-color: var(--light-green);
  color: #000;
  font-weight: 700;
}

footer {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
  padding: 20px;
}

main {
  grid-row: 2/3;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 1074px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 6px 6px 5px 5px;
  border: solid 1px var(--light-blue);
}

.card:first-child {
  grid-column: 1/2;
}

.card:last-child {
  grid-column: 2/3;
}

.card-head {
  background-color: var(--dark-blue);
  padding: 20px;
  border-radius: 5px 5px 0 0;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

.card-body {
  padding: 20px;
}

.about-me {
  display: flex;
  gap: 20px;
}

.about-me h3 {
  font-size: 1.5rem;
  color: var(--dark-blue);
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid var(--dark-purple);
}

.flag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  float: left;
  margin: 20px;
}

.flag img {
  width: auto;
  height: 100px;
}

.flag figcaption {
  text-align: center;
  font-size: 0.8rem;
  color: var(--dark-purple);
  font-style: italic;
}

.profile-picture {
  width: auto;
  height: 250px;
  border-radius: 5px;
}

.references {
  margin: auto 0;
}

.references ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}

.references ul li a {
  display: block;
  padding: 10px;
}

.references ul li a:hover {
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: solid 2px var(--dark-blue);
}

#lastModified {
  color: var(--yellow);
}

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 1.2rem;
  }

  header nav {
    flex-direction: column;
  }

  header nav a {
    padding: 10px;
    margin: 5px 0;
  }

  main {
    grid-template-columns: 1fr;
  }

  .card:first-child {
    grid-column: 1/2;
  }

  .card:last-child {
    grid-column: 1/2;
  }

  .about-me {
    flex-direction: column-reverse;
  }

  .profile-picture {
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin: 0 auto;
  }

  .flag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    float: inherit;
  }

  .flag img {
    width: 200px;
    height: auto;
  }
}
