@media screen and (min-width: 1024px) {
  main {
    position: relative;
  }

  .hero {
  }

  .cards {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .card {
    min-width: 300px;
  }

  .card:last-child {
    align-self: end;
  }

  .icon-weather {
    display: none;
  }

  .weather-info h2::after {
    content: "🌤️";
  }
}
