:root {
  --main-blue: #1a69b1;
  --secondary-blue: #173277;
  --white-color: #ffffff;
  --black-color: #0a0803;
  --accent-red: #bd2c49;
  --shadow-border: -2px 0px 5px rgba(26, 105, 177, 0.4);
  --font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  font-family: var(--font);
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: var(--main-blue);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: var(--secondary-blue);
}

header > img {
  width: 40px;
  height: 40px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
}

main {
  max-width: 100vw;
}

.hero > picture img {
  width: 100%;
  height: auto;
}

.cards {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: var(--white-color);
  box-shadow: var(--shadow-border);
  margin: 2rem;
  padding: 2rem;
  border-radius: 15px;
}

.card h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--black-color);
  text-align: center;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  font-style: italic;
  font-size: 1.2rem;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid var(--main-blue);
}

.card ul li > span {
  display: block;
  font-style: normal;
  font-weight: 700;
  color: var(--secondary-blue);
}

.icon-weather {
  display: flex;
  justify-content: center;
}

footer {
  background-color: var(--black-color);
  color: var(--white-color);
  text-align: center;
  padding: 2rem 0;
}
